{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>List Profil Pasien dan Pendonor | SIDOPLAK</title>
<link rel="stylesheet" href="{% static 'adminprofilpasienpendonor/css/style.css' %}">
<script type="application/javascript" src="{% static 'adminprofilpasienpendonor/js/script.js' %}"></script>
{% endblock meta %}

{% block content %}
    <div class="content-admin">
    	<div class="content-list-patient-donor">
	    	<h1>Pasien dan Pendonor</h1>
	    	<form method="POST" class="form form-filter-container" action="{% url 'adminprofilpasienpendonor:admin_list_patient_donor' %}">
	    		{% csrf_token %}

	    		<div class="form-filter-field-horizontal-container">
		    		<div class="form-filter-field">
		    			<label>Entri/Hal :</label>
			    		{{ form.show }}
			    		{{ form.show.errors }}
		    		</div>

		    		<div class="form-filter-field form-text-control search-bar">
			    		{{ form.search_name }}
			    		{{ form.search_name.errors }}
			    		<label for="button-submit-search">
				    		<svg width="30" width="30" viewBox="0 0 24 24">
					    		<use href="{% static 'base/svg/base-sprite-sheet.svg' %}#search-icon"></use>
					    	</svg>
					    </label>
		    			<button type="submit" class="button" id="button-submit-search">Cari</button>
		    		</div>
	    		</div>

    			<div class="form-filter-field" style="margin-top: 1em;">
	    			<label>Filter :</label>
		    		{{ form.fil_prov }}
		    		{{ form.fil_prov.errors }}

		    		{{ form.fil_goldar }}
		    		{{ form.fil_goldar.errors }}

		    		{{ form.fil_role }}
		    		{{ form.fil_role.errors }}
		    		<button type="submit" class="button" id="button-submit">Terapkan</button>
	    		</div>
	    	</form>
	    	<div class="list-container">
    			<div class="list-bar" id="list-bar-header">
    				<p>Nama Lengkap</p>
	        		<p>Provinsi</p>
	        		<p class="justify-self-center">Gol. Darah</p>
	        		<p class="justify-self-center">Jenis Kel.</p>
	        		<a class="button" disabled>Download</a>
    			</div>

    			{% if not patients and not donors %}
    				<h2 style="margin: 1.252em 0; width: 100%; text-align: center;">
    					{{ form.fil_role.initial|slice:":1" }}<span style="text-transform: lowercase;">{{ form.fil_role.initial|slice:"1:" }}</span> Yang Dicari Tidak Ditemukan
    				</h2>
    			{% endif %}
		        {% for patient in patients %}
		        	<div href="{% url 'adminprofilpasienpendonor:patient_profile' %}?pk={{ patient.user.email }}" class="list-bar list-patient-bar">
		        		<p>{{ patient.full_name|truncatechars:20 }}</p>
		        		<p>{{ patient.address_province }}</p>
		        		<p class="justify-self-center">{{ patient.medical_blood_type }}{{ patient.medical_rhesus }}</p>
		        		{% if patient.gender == 'LAKI-LAKI' %}
		        			<p class="justify-self-center">
		        				<svg width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <use href="#outline-male" width="30" height="30"/>
                                </svg>
		        			</p>
		        		{% elif patient.gender == 'PEREMPUAN' %}
		        			<p class="justify-self-center">
		        				<svg width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <use href="#outline-female" width="30" height="30"/>
                                </svg>
		        			</p>
		        		{% endif %}
		        	</div>
		        {% endfor %}
		        {% for donor in donors %}
		        	<div href="{% url 'adminprofilpasienpendonor:donor_profile' %}?pk={{ donor.user.email }}" class="list-bar list-donor-bar">
		        		<p>{{ donor.full_name|truncatechars:20 }}</p>
		        		<p>{{ donor.address_province }}</p>
		        		<p class="justify-self-center">{{ donor.medical_blood_type }}{{ donor.medical_rhesus }}</p>
		        		{% if donor.gender == 'LAKI-LAKI' %}
		        			<p class="justify-self-center">
		        				<svg width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <use href="#outline-male" width="30" height="30"/>
                                </svg>
		        			</p>
		        		{% elif donor.gender == 'PEREMPUAN' %}
		        			<p class="justify-self-center">
		        				<svg width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <use href="#outline-female" width="30" height="30"/>
                                </svg>
		        			</p>
		        		{% endif %}
		        	</div>
		        {% endfor %}
		    </div>
		    <div class="pagination">
		    	{% if page != 1 %}
		    		<a href="{% url 'adminprofilpasienpendonor:admin_list_patient_donor' %}?page={{ page|add:'-1' }}&{{ url_param }}">&lt</a>
		    	{% endif %}
		    	{% if is_there_more_pages_left %}
		    		<a href="{% url 'adminprofilpasienpendonor:admin_list_patient_donor' %}?page=1&{{ url_param }}">1</a>
		    		<p>...</p>
		    	{% endif %}
		    	{% for page_number_bar in list_page_number_bar %}
		    		{% if page_number_bar == page %}
		    			<p>{{ page_number_bar }}</p>
		    		{% else %}
		    			<a href="{% url 'adminprofilpasienpendonor:admin_list_patient_donor' %}?page={{ page_number_bar }}&{{ url_param }}">{{ page_number_bar }}</a>
		    		{% endif %}
		    	{% endfor %}
		    	{% if is_there_more_pages_right %}
		    		<p>...</p>
		    		<a href="{% url 'adminprofilpasienpendonor:admin_list_patient_donor' %}?page={{ num_of_pages }}&{{ url_param }}">{{ num_of_pages }}</a>
		    	{% endif %}
		    	{% if page != num_of_pages and num_of_pages != 0 %}
		    		<a href="{% url 'adminprofilpasienpendonor:admin_list_patient_donor' %}?page={{ page|add:'1' }}&{{ url_param }}">&gt</a>
		    	{% endif %}
		    </div>
	    </div>

	    <svg style="display: none;" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path id="outline-male" d="M12 11C9.23858 11 7 13.2386 7 16C7 18.7614 9.23858 21 12 21C14.7614 21 17 18.7614 17 16C17 13.2386 14.7614 11 12 11ZM12 11V3M12 3L16 7M12 3L8 7" stroke="#001A72" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
		<svg style="display: none;" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path id="outline-female" d="M12 13C14.7614 13 17 10.7614 17 8C17 5.23858 14.7614 3 12 3C9.23858 3 7 5.23858 7 8C7 10.7614 9.23858 13 12 13ZM12 13L12 21M9 18L15 18" stroke="#d4639b" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
    </div>
{% endblock content %}