{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Profil Pendonor</title>
<link rel="stylesheet" href="{% static 'adminprofilpasienpendonor/css/style.css' %}">
<script type="application/javascript" src="{% static 'adminprofilpasienpendonor/js/script.js' %}"></script>
{% endblock meta %}

{% block content %}
    <div class="content-admin">
    	<div class="content-donor-profile">

            <div class="bread-crumb-container">
                <a onclick="history.back();"><span>&lt</span> Kembali</a>
            </div>

    		<h1>Pendonor {{ donor.full_name }}</h1>
            <div class="profile-card">
                <div>
                    <div>
                        <div>
                            <label>Nama Lengkap</label>
                            <p>{{ donor.full_name }}</p>
                        </div>
                        <div>
                            <label>Email</label>
                            <p style="word-break: break-all;">{{ donor.user.email }}</p>
                        </div>
                        <div>
                            <label>NIK</label>
                            <p>{{ donor.nik }}</p>
                        </div>
                        <div>
                            <label>No HP</label>
                            <p>{{ donor.nohp }}</p>
                        </div>
                        <div>
                            <label>Jenis Kelamin</label>
                            <p>{{ donor.gender }}</p>
                        </div>
                        <div>
                            <label>Tempat Lahir</label>
                            <p>{{ donor.place_of_birth }}</p>
                        </div>
                        <div>
                            <label>Tanggal Lahir</label>
                            <p>{{ donor.date_of_birth }}</p>
                        </div>       
                    </div>
                    <div>
                        <div>
                            <label>Pekerjaan</label>
                            <p>{{ donor.profession }}</p>
                        </div>
                        <div>
                            <label>Alamat Domisili</label>
                            <p>{{ donor.get_full_address }}</p>
                        </div>
                        <div>
                            <label>Golongan Darah</label>
                            <p>{{ donor.get_full_blood_type }}</p>
                        </div>
                        <div>
                            <label>Berat Badan</label>
                            <p>{{ donor.medical_weight }} kg</p>
                        </div>
                        <div>
                            <label>Tinggi Badan</label>
                            <p>{{ donor.medical_height }} cm</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="patient-donor-data-buttons">
            	{% if donor.file_pcr_positive %}
	            	<a href="{% url 'adminprofilpasienpendonor:download' donor.file_pcr_positive.url|urlencode:'' %}" class="button">
					Download Berkas PCR Positif
					</a>
				{% endif %}
            	{% if donor.file_pcr_negative %}
					<a href="{% url 'adminprofilpasienpendonor:download' donor.file_pcr_negative.url|urlencode:'' %}" class="button">
						Download Berkas PCR Negatif
					</a>
				{% endif %}
            </div>

    	</div>
    </div>
{% endblock content %}