{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Profil Pasien</title>
<link rel="stylesheet" href="{% static 'adminprofilpasienpendonor/css/style.css' %}">
<script type="application/javascript" src="{% static 'adminprofilpasienpendonor/js/script.js' %}"></script>
{% endblock meta %}

{% block content %}
    <div class="content-admin">
    	<div class="content-patient-profile">

            <div class="bread-crumb-container">
                <a onclick="history.back();"><span>&lt</span> Kembali</a>
            </div>

    		<h1>Pasien {{ patient }}</h1>
            <div class="profile-card">
                <div>
                    <div>
                        <div>
                            <label>Nama Lengkap</label>
                            <p>{{ patient.full_name }}</p>
                        </div>
                        <div>
                            <label>Email</label>
                            <p style="word-break: break-all;">{{ patient.user.email }}</p>
                        </div>
                        <div>
                            <label>NIK</label>
                            <p>{{ patient.nik }}</p>
                        </div>
                        <div>
                            <label>No HP</label>
                            <p>{{ patient.nohp }}</p>
                        </div>
                        <div>
                            <label>Jenis Kelamin</label>
                            <p>{{ patient.gender }}</p>
                        </div>
                        <div>
                            <label>Tempat Lahir</label>
                            <p>{{ patient.place_of_birth }}</p>
                        </div>
                        <div>
                            <label>Tanggal Lahir</label>
                            <p>{{ patient.date_of_birth }}</p>
                        </div>       
                    </div>
                    <div>
                        <div>
                            <label>Pekerjaan</label>
                            <p>{{ patient.profession }}</p>
                        </div>
                        <div>
                            <label>Alamat Domisili</label>
                            <p>{{ patient.get_full_address }}</p>
                        </div>
                        <div>
                            <label>Golongan Darah</label>
                            <p>{{ patient.get_full_blood_type }}</p>
                        </div>
                        <div>
                            <label>Berat Badan</label>
                            <p>{{ patient.medical_weight }} kg</p>
                        </div>
                        <div>
                            <label>Tinggi Badan</label>
                            <p>{{ patient.medical_height }} cm</p>
                        </div>
                    </div>
                </div>
            </div>

        	{% for donor_application in donor_applications %}
        		{% if donor_application.file %}
		            <div class="patient-donor-data-buttons">
		        		<a href="{% url 'adminprofilpasienpendonor:download' donor_application.file.url|urlencode:'' %}" class="button">
							Download Berkas Pasien (ID: {{ donor_application.id }})
						</a>
		            </div>
	            {% endif %}
			{% endfor %}
    	</div>
    </div>
{% endblock content %}