.content-admin {
	padding: 2em;
	font-size: 0.8em;
}

/* PATIENT & DONOR PROFILE */

.content-patient-profile,
.content-donor-profile {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 0.7em;
	margin-bottom: 2em;
}

.profile-card {
	background: var(--accent-base-blue);
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 95%;
	border-radius: 2em;
	padding: 2em 1em;
}

.profile-card > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.profile-card > div > div {
	width: 100%;
}

.profile-card > div > div > div {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
}

.profile-card > div > div > div label {
	width: 30%;
	text-align: right;
}

.profile-card > div > div > div p {
	font-weight: bold;
	padding-left: 1em;
	width: 70%;
}

.profile-card a {
	margin-right: 2em;
}

.patient-donor-data-buttons {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 2em;
}

.patient-donor-data-buttons a {
	margin: 0 0.5em 0 0.5em;
	font-size: 0.8em;
}

.bread-crumb-container {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	padding: 0;
	font-size: 1.2em;
}

.bread-crumb-container a {
	cursor: pointer;
	margin-left: 1em;
}


/* LIST PASIEN ADMIN */

.content-list-patient-donor {
	display: flex;
	flex-direction: column;
	align-items: center;

	font-size: 0.5em;
}

.content-list-patient-donor > h1 {
	color: black;
	text-align: center;
}



@media only screen and (min-width: 800px) {

	/* REGISTER PATIENT */

	.content-admin {
		font-size: 1em;
	}

	/* PATIENT & DONOR DATA (REUSE PROFILE CARD) */

	.content-patient-profile,
	.content-donor-profile {
		font-size: 1em;
	}

	.profile-card {
		width: 90%;
	}

	.profile-card > div {
		flex-direction: row;
		justify-content: space-around;
		align-items: flex-start;
	}

	.profile-card > div > div {
		width: 50%;
	}

	.profile-card > div > div > div label {
		width: 40%;
	}

	.profile-card > div > div > div p  {
		width: 60%;
	}
	

	/* MATHCES */

	.matches {
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr auto;
		column-gap: 2em;
	}

	.matches-buttons {
	    flex-direction: column;
	    justify-content: space-around;
	    align-items: center;
	}

	.patient-donor-data-buttons a {
		font-size: 1em;
	}


	/* LIST PATIENT ADMIN */

	.content-list-patient-donor {
		font-size: 1em;
	}
}