div, p { 
    font-family: 'Rubik', sans-serif;
}

.judul {
    margin: 2.5rem 0; 
    text-align: center; 
    font-weight: bold; 
    color:#144B84;
} 

a, button {width: 100px;}

.batal {
    background-color: gray; 
    margin-right: 10px;
}

.judulDetail {
    font-weight: bold; 
    color: white;
    background-color: #144B84;
    font-size: 1.3em;
  }