h1 {
    margin: 0.1em 0 0.2em 0;
}

div, p, h2 {
    font-family: 'Rubik', sans-serif;
}

.judul {
    margin: 2.5rem 0; 
    text-align: center; 
    font-weight: bold; 
    color:#144B84;
} 

.content {
    font-family: 'Rubik', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    padding: 0.25em;
}

a:link, a:visited, a:active, a:hover{
    text-decoration: none;
}

table, thead {
    border-collapse: separate;
    font-family: 'Rubik', sans-serif;
    border: 1px;
    width: 100%;
}

.headerA {
    font-weight: bold; 
    color: white;
    background: var(--button-color);
    font-size: 1.1em;
}


th, td, tr {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.tr1:hover {background-color:#F1F7FF;}

.judul {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.center {
    vertical-align: middle;
    text-align: center;
}

.bodyt {
    margin-left: 30px;
    margin-right: 30px;
}

.batal {
    background-color: gray;
    margin-right: 10px;
    width: 100px;
}

/* top-left border-radius */
table th:first-child {
    border-top-left-radius: 15px;
}
  
  /* top-right border-radius */
table th:last-child {
    border-top-right-radius: 15px;
}
  
  /* bottom-left border-radius */
table tr:last-child td:first-child {
    border-bottom-left-radius: 15px;
}
  
  /* bottom-right border-radius */
table tr:last-child td:last-child {
    border-bottom-right-radius: 15px;
}