{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Profil</title>
<link rel="stylesheet" href="{% static 'profildiri/css/style.css' %}">
{% endblock meta %}

{% block content %}
<div  class ="home-top" style="background-image: url('{% static "main/img/home-bg.jpg"%}');overflow: hidden;">
    {% if sudahDaftar == 1%}
    <div class="content " style="width: 50%;" >
        <div >
            <h1><center>Profil Saya</center></h1>
            {% if statusInt == "1"%}
                <h4><center><span class="tags_stop">{{status}}</span></center></h4>
            {% elif statusInt == "2" %}
                <h4><center><span class="tags_warning">{{status}}</span></center></h4>
            {% else %}
                <h4><center><span class="tags_success">{{status}}</span></center></h4>
            {% endif %}
                <table class="center">
                    <tr>
                        <td>Nama:</td>
                        <td>{{selfObject.full_name}}</td>
                    </tr>

                    <tr>
                        <td>NIK:</td>
                        <td>{{selfObject.nik}}</td>
                    </tr>

                    <tr>
                        <td>No HP:</td>
                        <td>{{selfObject.nohp}}</td>
                    </tr>

                    <tr>
                        <td>Jenis Kelamin:</td>
                        <td>{{selfObject.gender}}</td>
                    </tr>

                    <tr>
                        <td>Tempat Tanggal Lahir:</td>
                        <td>{{selfObject.place_of_birth}},{{selfObject.date_of_birth}}</td>
                    </tr>


                    <tr>
                        <td>Alamat:</td>
                        <td>{{selfObject.address}}</td>
                    </tr>

                    <tr>
                        <td style="text-indent: 1em;">Kel/Desa</td>
                        <td>{{selfObject.address_village}}</td>
                    </tr>

                    <tr>
                        <td style="text-indent: 1em;">Kecamatan:</td>
                        <td>{{selfObject.address_district}}</td>
                    </tr>

                    <tr>
                        <td style="text-indent: 1em;">Kabupaten:</td>
                        <td>{{selfObject.address_regency}}</td>
                    </tr>

                    <tr>
                        <td style="text-indent: 1em;">Provinsi:</td>
                        <td>{{selfObject.address_province}}</td>
                    </tr>

                    <tr>
                        <td>Golongan darah:</td>
                        <td>{{selfObject.medical_blood_type}}{{selfObject.medical_rhesus}}</td>
                    </tr>

                    <tr>
                        <td>Berat Badan:</td>
                        <td>{{selfObject.medical_weight}} kg</td>
                    </tr>
                    <tr>
                        <td>Tinggi Badan:</td>
                        <td>{{selfObject.medical_height}} cm</td>
                    </tr>
                </table>
            </div>
        </div>
    {% else %}
    <div class="content2" style="width: 50%;" >
        <div >
            <h1><center>Profil Saya</center></h1>
            <table class="center" style="height:20%;">
                <tr>
                    <td>Nick Name:</td>
                    <td>{{selfObject.nickname}}</td>
                </tr>
            </table>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}