.content-admin {
	padding: 2em;
	font-size: 0.55em;
}

/* LIST MATCHES */

.content-list-matches {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content-list-matches h1 {
	color: black;
}

.matches-container {
	width: 95%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	padding: 1em;
	border-radius: 1em;
	background: white;
}

.matches {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr auto;
	column-gap: 0;
	grid-row-gap: 1em;

	width: 100%;
	padding: 1em 2em;
	border-radius: 1.25em;
	background: white;
	margin: 0.5em 0 0.5em 0;
	border: 0.05em solid black;
}

.matches-patient-card,
.matches-donor-card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5em 1.5em;
	border-radius: 1em;

	cursor: pointer;
}

.matches-patient-card {
	/*background: #CBCBCB;*/
	background: var(--accent-light-blue);
}

.matches-donor-card {
	/*background: #94C0E9;*/
	background: var(--accent-base-blue);
}

.matches-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.matches-buttons > .button {
	text-align: center;
	width: 6em;
}

.matches .button.accept {
	background: var(--success-color);
}

.matches .button.reject {
	background: var(--error-color);
}

.button-blue-2 {
	background: var(--text-blue-2);
}


#modal-confirmation {
	display: none;
}

#modal-confirmation-checkbox {
	display: none;
}

#modal-confirmation-checkbox:checked ~ #modal-confirmation {
	display: flex;
}

#modal-confirmation h1 {
	color: var(--text-blue-2);
}

#modal-confirmation a {
	width: 100%;
	margin: 2em 0 0 0;
	background: var(--button-donor);
}


@media only screen and (min-width: 800px) {

	/* REGISTER PATIENT */

	.content-admin {
		font-size: 1em;
	}


	/* MATHCES */

	.matches {
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr auto;
		column-gap: 2em;
	}

	.matches-buttons {
	    flex-direction: column;
	    justify-content: space-around;
	    align-items: center;
	}

	.patient-donor-data-buttons a {
		font-size: 1em;
	}


}