:root{
    --button-danger: #DC3545;
    --button-primary: #144B84;
}

body {
    overflow-x: hidden;
}

.content-container {
    overflow-x: hidden;
}

.content {
    margin: 1.75em;
    font-family: 'Rubik', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 1rem;
}

.form-container {
    width: min(90%, 1200px);
}

label[for="id_judul"] {
    display: block;
    margin-top: 1.25em;
}

input[name="judul"] {
    box-sizing: border-box;
    font-family: 'Rubik';
    background: white;
    border: 0.15em solid rgb(0, 0, 0, 0.3);
    border-radius: 0.5em;
    font-size: 1.1em;
    padding: 0.6em;
    margin-bottom: 0.5em;
    width: 100%;
}

label[for="id_isi"] {
    display: block;
    margin-top: 1.25em;
}

textarea[name="isi"] {
    display: none;
}

.tox.tox-tinymce {
    box-sizing: border-box;
    font-family: 'Rubik';
    background: white;
    border: 0.15em solid rgb(0, 0, 0, 0.3);
    border-radius: 0.5em;
    font-size: 1.1em;
    width: 100%;
    resize: vertical;
}

#tinymce {
    font-family: 'Rubik';
}

.button-link {
    all: unset;
}

.d-initial {
    display: initial;
}

.artikel-container {
    width: min(90%, 1200px);
}

.artikel {
    background: var(--accent-light-blue);
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 1em;
    align-items: center;
}

.judul {
    font-size: 1.5em;
}

.detail {
    font-size: 0.8em;
    margin-bottom: 0.9em;
}

.penulis {
    display: initial;
}

.tanggal {
    display: initial;
}

.modal {
    padding-top: 74px;
}

.modal-content {
    width: min(80%, 400px);
    padding-inline: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-manager {
    font-size: 0.9em;
}

.confirmation {
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
    font-size: 0.8em;
}

.confirmation > button {
    width: 8em;
}

@media only screen and (min-width: 390px) {
    div > button:not(:first-of-type) {
        margin-left: 0.5em;
    }
}

@media only screen and (max-width: 390px) {
    .confirmation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 0.5em;
        font-size: 0.8em;
    }
    
    .article-manager {
        font-size: 0.9em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .article-manager > button {
        width: min(100%, 140px);
    }
}