{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Detail Post</title>
<link rel="stylesheet" href="{% static 'forum/css/CRU.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<style></style>
{% endblock meta %}

{% block content %}
<div  class ="home-top";>
    <div class="container">
        <div class="card text" style="margin: 50px 0">
            <div class="card-header judulDetail" style="background-color: #144B84;">
                {{ post.judul }}
            </div>
            <div class="card-body">
              <p class="card-text">
                {{ post.deskripsi }}
              </p>
            </div>
            <div class="card-footer text-muted" style="text-align: right;">
              {{ post.penulis.nickname }}. {{ post.waktu }}
            </div>
          </div>
    </div>
</div>
{% endblock content %}