{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Forum</title>
<link rel="stylesheet" href="{% static 'forum/css/listforum.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<style></style>
{% endblock meta %}

{% block content %}
<div  class ="home-top bodyt">
  {% if request.user.is_authenticated %}
  <a type="button" class="button" style="width: 150px;margin-top: 30px;" href="{% url 'forum:create' %}">Buat Post</a>
  {% endif %}

  {% if banyakPost %}
        <div style="overflow-x: auto; margin: 50px 0;">
            <table class="table table-hover">
                <thead>
                  <tr class="headerA">
                    <th scope="col">Judul</th>
                    <th scope="col">Penulis</th>
                    <th scope="col">Balasan</th>
                    <th scope="col">Terakhir Kali</th>
                    {% if request.user.is_authenticated %}
                    <th scope="col">Tindakan</th>
                    {% endif %}
                  </tr>
                </thead>

                <tbody>
                  {% for post in posts %}
                  <tr class="tr1">
                    <td scope="row" class="center"><a href= "{% url 'forum:detail' post.pk %}" class="judul">{{ post.judul }}</a></td>
                    <td class="center">{{ post.penulis.nickname }}</td>
                    <!-- karena belum terimplementasi reply, maka jumlahnya pasti nol dan terakhir kali diakses oleh penulis sendiri -->
                    <td class="center">0</td>
                    <td class="center">{{ post.penulis.nickname }}. <br>{{ post.waktu }}</td>
                    {% if request.user.is_authenticated and user.nickname == post.penulis.nickname or request.user.is_admin %}
                    <td class="center">
                      <div style="display: flex;justify-content: center;">
                        <a name='ubah' class="button" style="width: 100px; margin-right:10px;" href="{% url 'forum:update' post.pk %}">
                          Ubah
                        </a>
                         <!-- Modal -->
                        <div class="modal fade" id="exampleModal"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                              <div class="modal-header flex-column">
                                <button  style="justify-content: right;" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <h5 class="modal-title" id="exampleModalLabel">Apakah Anda yakin menghapus postingan ini?</h5>
                              <div class="modal-footer">
                                <a type="button" class="button batal" data-bs-dismiss="modal">Batal</a>
                                <a class="button" id="hapus-btn" style="width: 100px; background-color: rgb(211, 13, 13);">Yakin</a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Button trigger modal -->
                        <button name='hapus' class="button" data-href="{% url 'forum:delete' post.pk %}" style="width: 100px; background-color: rgb(211, 13, 13);" data-bs-toggle="modal" data-bs-target="#exampleModal">
                          Hapus
                        </button>
                      </div>
                    </td>
                    {% endif %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
          </div>
        {% else %}
        <div class="judul">
          <h2 class="judul" style="color:#144B84;">Belum Ada Postingan</h2>
        </div>
        {% endif %}
</div>
<!-- ide dari: https://stackoverflow.com/questions/8982295/confirm-deletion-in-modal-dialog-using-twitter-bootstrap -->
<script>
  $('#exampleModal').on('show.bs.modal', function(e) {
      $(this).find('#hapus-btn').attr('href', $(e.relatedTarget).data('href'));
  });
</script>
{% endblock content %}