{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block meta %}
<title>Ubah Post</title>
<link rel="stylesheet" href="{% static 'forum/css/CRU.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<style></style>
{% endblock meta %}

{% block content %}
<div  class ="home-top";>
    <h2 class="judul">Ubah Postingan</h2>
    <div class="container">
        <form method="POST">
            <table>
                {% csrf_token %}
                <div style="margin-bottom: 2rem;">
                    {{forum_form.judul|as_crispy_field}}
                </div>
                <div>
                    {{forum_form.deskripsi|as_crispy_field}}
                </div>
            </table>
            <div style="margin: 3rem 0; justify-content: right; display: flex;">
                <a class="button batal" href="{% url 'forum:listforum' %}">Batal</a>
                <button type="submit" formmethod="POST" class="button" href="{% url 'forum:update' post_id %}">Kirim</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}