{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Masuk | SIDOPLAK</title>
<link rel="stylesheet" href="{% static 'users/css/style.css' %}">
<script type="application/javascript" src="{% static 'users/js/script-login.js' %}"></script>
{% endblock meta %}

{% block content %}
    <div class="content">
        <div class="form-background">
            <i class="fas fa-user login-icon"></i>
            <h1>Masuk</h1>
            <form method="POST" class="form">
                {% csrf_token %}

                {{ form.non_field_errors }}

                <label class="form-label">EMAIL</label>
                {{ form.username }}

                <label class="form-label">KATA SANDI</label>
                {{ form.password }}
                {{ form.password.errors }}
                
                <button type="submit" class="button hundredwidth" id="button-submit">Masuk</button>
            </form>
        </div>
    </div>
{% endblock content %}