{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Daftar | SIDOPLAK</title>
<link rel="stylesheet" href="{% static 'users/css/style.css' %}">
<script type="application/javascript" src="{% static 'users/js/script-register.js' %}"></script>
{% endblock meta %}

{% block content %}
    <div class="content">
        <div class="form-background">
            <i class="fas fa-user login-icon"></i>
            <h1>Daftar</h1>
            <form method="POST" class="form">
                {% csrf_token %}

                {{ form.non_field_errors }}

                <label class="form-label">PERAN</label>
                {{ form.role }}

                <label class="form-label">EMAIL</label>
                {{ form.email }}

                <label class="form-label">KATA SANDI</label>
                {{ form.password1 }}
                {{ form.password1.errors }}

                <label class="form-label">ULANGI KATA SANDI</label>
                {{ form.password2 }}
                {{ form.password2.errors }}
                
                <button type="submit" class="button hundredwidth" id="button-submit" disabled>Daftar</button>
            </form>
            <label class="login-label">Sudah memiliki akun? <a href="{% url 'users:login' %}">Masuk</a></label>
        </div>
    </div>
{% endblock content %}