{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Buat Artikel | SIDOPLAK</title>
<link rel="stylesheet" href="{% static 'artikel/style.css' %}">
<script type="application/javascript" src="{% static 'artikel/script.js' %}"></script>
{{ form.media }}
{% endblock meta %}

{% block content %}
    <div class="content">
        <div class="form-container">
            <form method="POST">
                {% csrf_token %}
                {{ form.judul.label }}
                {{ form.judul }}
                {{ form.isi.label }}
                {{ form.isi }}
                <div class="publish-decision">
                    <button type="button" class="button d-initial" onpointerup="openModal()" style="background: var(--button-danger)">Batal</button>
                    <button type="submit" class="button d-initial">Publikasi</button>
                    <div class="modal">
                        <div class="modal-content">
                            Apakah Anda yakin ingin untuk membatalkan pembuatan artikel?
                            <div class="confirmation">
                                <button type="button" class="button d-initial" onpointerup="closeModal()">Batal</button>
                                <button type="button" class="button d-initial" style="background: var(--button-danger)" onpointerup="goToMainArticlePage()">Konfirmasi</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}