{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Artikel | SIDOPLAK</title>
<link rel="stylesheet" href="{% static 'artikel/style.css' %}">
<script type="application/javascript" src="{% static 'artikel/script.js' %}"></script>
{% endblock meta %}

{% block content %}
    <div class="content">
        <div class="artikel-container">
            <form id="manager-form" method="POST" style="display: none">
                {% csrf_token %}
                <input id="id-artikel" type="number" name="id-artikel" hidden>
            </form>
            <div>
                <div class="artikel">
                    <div class="judul">{{ artikel.judul }}</div>
                    <div class="detail">
                        <div class="penulis">{{ artikel.penulis.first_name }} {{ artikel.penulis.last_name }}</div>
                        •
                        <div class="tanggal">{{ artikel.tanggal|date:"j E Y" }}</div>
                    </div>
                    <div class="isi" style="overflow-x: auto">{{ artikel.isi|safe }}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}