{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Artikel | SIDOPLAK</title>
<link rel="stylesheet" href="{% static 'artikel/style.css' %}">
<script type="application/javascript" src="{% static 'artikel/script.js' %}"></script>
{% endblock meta %}

{% block content %}
    <div class="content">
        <div class="artikel-container">
            {% if is_admin %}
            <a class="button-link" href="{% url 'artikel:buat' %}" style="display: block;">
                <button class="button" style="display: block">Buat Artikel</button>
            </a>
            {% endif %}
            <form id="manager-form" method="POST" style="display: none">
                {% csrf_token %}
                <input id="id-artikel" type="number" name="id-artikel" hidden>
            </form>
            <div>
                {% for artikel in all_artikel %}
                <div class="artikel">
                    <div style="overflow-x: auto">
                        <div onpointerup="manageArticle(event, {{ artikel.id }}, 'lihat')" style="cursor: pointer">
                            <div class="judul">{{ artikel.judul }}</div>
                            <div class="detail">
                                <div class="penulis">{{ artikel.penulis.first_name }} {{ artikel.penulis.last_name }}</div>
                                •
                                <div class="tanggal">{{ artikel.tanggal|date:"j E Y" }}</div>
                            </div>
                            <div class="isi">{{ artikel.isi|safe }}</div>
                        </div>
                    </div>
                    {% if is_admin %}
                    <div class="article-manager">
                        <button type="button" class="button d-initial" onpointerup="manageArticle(event, {{ artikel.id }}, 'edit')">Edit Artikel</button>
                        <button type="button" class="button d-initial" style="background: var(--button-danger)" onpointerup="openModal()">Hapus Artikel</button>
                    </div>
                    <div class="modal">
                        <div class="modal-content">
                            Apakah Anda yakin ingin menghapus artikel ini?
                            <div class="confirmation">
                                <button type="button" class="button d-initial" onpointerup="closeModal()">Batal</button>
                                <button type="button" class="button d-initial" onpointerup="manageArticle(event, {{ artikel.id }}, 'delete')" style="margin-right: 0.5em; background: var(--button-danger)">Konfirmasi</button>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% empty %}
                <div class="artikel" style="text-align: center; font-size: 1.2em; font-weight: bold">Tidak ada artikel saat ini</div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}