{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Permintaan Ditolak (400) | SIDOPLAK</title>
<link rel="stylesheet" href="{% static 'base/css/style.css' %}">
{% endblock meta %}

{% block content %}
	<div class="content page-not-found-content">
		<h1 style="font-size: 4em; margin-bottom: 0;">400</h1>
        <h1>Permintaan yang dikirim tidak valid</h1>
		<button type="button" class="button" onclick="history.back()">Halaman Sebelumnya</button>
        <a href="{% url 'main:home' %}" class="button">Halaman Depan</a>
	</div>
{% endblock content %}