{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Halaman Tidak Ditemukan (404) | SIDOPLAK</title>
<link rel="stylesheet" href="{% static 'base/css/style.css' %}">
{% endblock meta %}

{% block content %}
	<div class="content page-not-found-content">
		<h1 style="font-size: 4em; margin-bottom: 0;">404</h1>
		<h1>Maaf, halaman ini tidak ditemukan</h1>
		<a href="{% url 'main:home' %}" class="button">Halaman Depan</a>
	</div>
{% endblock content %}