.content-patient {
	padding: 2em;
	font-size: 0.8em;
}



@media only screen and (min-width: 800px) {
	.content-patient {
		font-size: 1em;
	}
}

.tags_success {
    background: #00FF00;
    color: #FFFFFF;
    padding: 0.25em 1.5em;
    border-radius: 1em;
    white-space: nowrap;

}

.tags_warning {
    background: #E5EC46;
    color: #FFFFFF;
    padding: 0.25em 1.5em;
    border-radius: 1em;
    white-space: nowrap;
}

.tags_stop {
    background: #EC6746;
    color: #FFFFFF;
    padding: 0.25em 1.5em;
    border-radius: 1em;
    white-space: nowrap;
}


.center {
    margin-left: auto;
    margin-right: auto;
}

.content {
    position: fixed; /* Must be position: fixed or position: absolute */
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    height: 70%;
    border-radius: 25px;
    background-color: white;
    margin-bottom: 60px;
}

.content2 {
    position: fixed; /* Must be position: fixed or position: absolute */
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    height: 20%;
    border-radius: 25px;
    background-color: white;
    margin-bottom: 240px;
}

.home-top {
	height: 40rem;
	width: 100%;
	font-size: 0.8em;

	background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

td {
    font-size: 1.4em;
}