{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>List Pasangan | SIDOPLAK</title>
<link rel="stylesheet" href="{% static 'adminverifikasipasangan/css/style.css' %}">
<script type="application/javascript" src="{% static 'adminverifikasipasangan/js/script.js' %}"></script>
{% endblock meta %}

{% block content %}
    <div class="content-admin">
    	<div class="content-list-matches">
	    	<h1>List Pasangan</h1>
	    	<form method="POST" class="form form-filter-container" action="{% url 'adminverifikasipasangan:list_match' %}">
	    		{% csrf_token %}

	    		<div class="form-filter-field-horizontal-container">
		    		<div class="form-filter-field form-text-control search-bar">
			    		{{ form.search_patient }}
			    		{{ form.search_patient.errors }}
			    		<label for="button-submit-search">
				    		<svg width="30" width="30" viewBox="0 0 24 24">
					    		<use href="{% static 'base/svg/base-sprite-sheet.svg' %}#search-icon"></use>
					    	</svg>
					    </label>
		    			<button type="submit" class="button" id="button-submit-search">Cari</button>
		    		</div>
		    		<div class="form-filter-field form-text-control search-bar">
			    		{{ form.search_donor }}
			    		{{ form.search_donor.errors }}
			    		<label for="button-submit-search">
				    		<svg width="30" width="30" viewBox="0 0 24 24">
					    		<use href="{% static 'base/svg/base-sprite-sheet.svg' %}#search-icon"></use>
					    	</svg>
					    </label>
		    			<button type="submit" class="button" id="button-submit-search">Cari</button>
		    		</div>
	    		</div>

	    		<div>
	    			<div class="form-filter-field" style="margin-top: 1em;">
		    			<label>Pasien/Hal :</label>
			    		{{ form.show }}
			    		{{ form.show.errors }}
		    		</div>
	    		</div>

    			<div class="form-filter-field" style="margin-top: 1em;">
	    			<label>Filter :</label>
		    		{{ form.fil_prov }}
		    		{{ form.fil_prov.errors }}

		    		{{ form.fil_goldar }}
		    		{{ form.fil_goldar.errors }}

		    		{{ form.is_done }}
		    		{{ form.is_done.errors }}
		    		<button type="submit" class="button" id="button-submit">Terapkan</button>
	    		</div>
	    	</form>

	    	<div class="matches-container">
    			{% if not donor_applications %}
    				<h1 style="margin: 1.252em 0; width: 100%; text-align: center; color: var(--text-blue-2);">Tidak Ada Pasangan Pasien dan Pendonor Yang Ditemukan</h1>
    			{% endif %}

	    		{% for donor_application in donor_applications %}
	    			<div class="matches">
	    				<div href="{% url 'adminprofilpasienpendonor:patient_profile' %}?pk={{ donor_application.patient.user.email }}" class="matches-patient-card">
	    					<div class="matches-donor-data">
	    						<h4>Pasien : {{ donor_application.patient.full_name }}</h4>
		    					<p>{{ donor_application.patient.address_province }}</p>
		    					<p>{{ donor_application.patient.medical_blood_type }}{{ donor_application.patient.medical_rhesus }}</p>
	    					</div>
	    					{% if donor_application.file %}
		    					<a href="{% url 'adminverifikasipasangan:download_patient_files' donor_application.pk %}">
									<svg width="48" height="48" viewBox="0 0 24 24">
										<use href="{% static 'adminverifikasipasangan/svg/download.svg' %}#download"></use>
									</svg>
								</a>
							{% endif %}
	    				</div>
	    				<div href="{% url 'adminprofilpasienpendonor:donor_profile' %}?pk={{ donor_application.donor.user.email }}" class="matches-donor-card">
	    					<div class="matches-donor-data">
	    						<h4>Donor : {{ donor_application.donor.full_name }}</h4>
		    					<p>{{ donor_application.donor.address_province }}</p>
		    					<p>{{ donor_application.donor.medical_blood_type }}{{ donor_application.donor.medical_rhesus }}</p>
	    					</div>
	    					{% if donor_application.donor.file_pcr_positive or donor_application.donor.file_pcr_negative %}
		    					<a href="{% url 'adminverifikasipasangan:download_donor_files' donor_application.pk %}">
		    						<svg width="48" height="48" viewBox="0 0 24 24">
										<use href="{% static 'adminverifikasipasangan/svg/download.svg' %}#download"></use>
									</svg>
		    					</a>
	    					{% endif %}
	    				</div>
	    				{% if donor_application.status.status == '2' %}
		    				<div class="matches-buttons">
		    					<a href="{% url 'adminverifikasipasangan:accept_match' donor_application.pk %}" class="button accept">Terima</a>
		    					<a href="{% url 'adminverifikasipasangan:reject_match' donor_application.pk %}" class="button reject">Tolak</a>
		    				</div>
	    				{% endif %}
	    			</div>
		        {% endfor %}
    		</div>

		    <div class="pagination">
		    	{% if page != 1 %}
		    		<a href="{% url 'adminverifikasipasangan:list_match' %}?page={{ page|add:'-1' }}&{{ url_param }}">&lt</a>
		    	{% endif %}
		    	{% if is_there_more_pages_left %}
		    		<a href="{% url 'adminverifikasipasangan:list_match' %}?page=1&{{ url_param }}">1</a>
		    		<p>...</p>
		    	{% endif %}
		    	{% for page_number_bar in list_page_number_bar %}
		    		{% if page_number_bar == page %}
		    			<p>{{ page_number_bar }}</p>
		    		{% else %}
		    			<a href="{% url 'adminverifikasipasangan:list_match' %}?page={{ page_number_bar }}&{{ url_param }}">{{ page_number_bar }}</a>
		    		{% endif %}
		    	{% endfor %}
		    	{% if is_there_more_pages_right %}
		    		<p>...</p>
		    		<a href="{% url 'adminverifikasipasangan:list_match' %}?page={{ num_of_pages }}&{{ url_param }}">{{ num_of_pages }}</a>
		    	{% endif %}
		    	{% if page != num_of_pages and num_of_pages != 0 %}
		    		<a href="{% url 'adminverifikasipasangan:list_match' %}?page={{ page|add:'1' }}&{{ url_param }}">&gt</a>
		    	{% endif %}
		    </div>
	    </div>
    </div>
{% endblock content %}