{% extends 'base.html' %}
{% load static %}

{% block meta %}
	<title>SIDOPLAK</title>
	<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
	<script type="application/javascript" src="{% static 'main/js/script.js' %}"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
{% endblock meta %}

{% block content %}
	<div class="content-home">
		<div class="home-top" style="background-image: url('{% static "main/img/home-bg.jpg"%}')";>
			<div class="home-top-color-filter">
				<div>
					<p>Selamat Datang di</p>
					<img src="{% static 'base/img/sidoplak-logo.png' %}">
					{% if not request.user.is_authenticated %}
						<div class="home-top-btn-container">
							<a href="" class="button fit-content">Saya Pasien</a>
							<a href="" class="button fit-content">Saya Ingin Mendonor</a>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
		
	</div>
	<div style="height: 0em;" class="formSuccess">
		{{formSuccess}}
	</div>
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title" id="exampleModalLabel">Pendaftaran Sukses!</h5>
			</div>
			<div class="modal-body" style="text-align: left">
			  {{formSuccess}}
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary closeModal" data-dismiss="modal">Close</button>
			</div>
		  </div>
		</div>
	</div>
{% endblock content %}
