{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Pendaftaran Pasien</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'daftar/css/style.css' %}">

{% endblock meta %}

{% block content %}
    <div class="content">
        <div class="form-background">
            <i class="fas fa-user login-icon"></i>
            <h1>Pendaftaran Permohonan Donor</h1>
            <ul class="errorlist">
                <li>{{ errorFile }}</li>
            </ul>
            <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.label == 'File' %}
                        Upload surat permohonan donor resmi dari faskes:
                        <div class="custom-file">
                            {{ field }}
                            <label class="custom-file-label" for="id_file"> {{ field.label }} </label>
                        </div>
                        <p class="upload">Upload dokumen dengan format PDF dan ukuran maksimal 10MB.</p>

                    {% elif field.label == 'Dengan ini saya menyatakan bersedia untuk menjadi penerima donor plasma konvalesen dan siap dihubungi oleh Tim SIDOPLAK' %}
                        {{ field }}
                        {{ field.label }}
                        <br>
                        <br>
                    {% else %}
                        {{ field.label }}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                
                <button class="button hundredwidth" type="submit">
                    SUBMIT
                </button>
            </form>
        </div>
    </div>
    <div style="height: 0em;" class="namaFile">
		{{namaFile}}
	</div>
    <script type="application/javascript" src="{% static 'daftar/js/script.js' %}"></script>
{% endblock content %}