h1 {
    margin: 0.1em 0 0.2em 0;
}

.content {
    font-family: 'Rubik', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    padding: 0.25em;
}

.form-background {
    width: 100%;
    padding: 1em;
}

.login-icon {
    margin-left: 0.1em;
    font-size: 1.5em;
    color: var(--accent);
}


/* PASSWORD RESET */

.content-password-reset {
    padding: 4em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    font-size: 0.85em;
}

.content-password-reset form {
    display: flex;
    flex-direction: column;
}

.content-password-reset form input {
    box-sizing: border-box;
    font-family: 'Rubik';
    background: white;
    border: 0.15em solid rgb(0, 0, 0, 0.3);
    border-radius: 1.5em;
    font-size: 1.1em;
    padding: 0.5em;
    
    width: 100%;
}

.content-password-reset form input:focus {
    outline-width: 0;
    border: 0.15em solid var(--form-focus);
    color: var(--form-focus);

    transition: all 0.30s ease-in-out;
}

.content-password-reset form input:focus::placeholder {
    color: var(--form-focus);
}

.content-password-reset form input::placeholder {
    opacity: 0.7;
}

.content-password-reset button {
    font-size: 1.2em;
}


.password-reset-background {
    background: var(--card-bg);
    color: var(--text-blue-2);
    padding: 1.5em;
    border-radius: 1em;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.password-reset-background h1 {
    font-style: italic;
}




@media only screen and (min-width: 700px) {

    .content {
        margin: 1.5em;
    }

    .form-background {
        width: min(90%, 800px);
    }

    /* PASSWORD RESET */

    .content-password-reset {
        font-size: 1.25em;
    }

    .password-reset-background {
        width: 70%;
    }
}