
/* HOME */

html body {
	font-family: 'Rubik';
	line-height: 1.1;
}

.home-top {
	margin-top: -74px;
	height: 40rem;
	width: 100%;
	font-size: 0.8em;
	
	background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.home-top .home-top-color-filter {
	background-color: rgba(20, 75, 132, 0.15);
	width: 100%;
	height: 100%;

	display: flex;
    justify-content: center;
}

.home-top > div > div {
	width: 85%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--primary-blue);
}

.home-top > div > div > img {
	margin: 0 0 1em 0;
	width: 16.25rem; 
	height: 5rem;
}

.home-top > div > div > p {
	font-size: 2em;
	font-weight: bold;
	margin: 2em 0 0.25em 0;
}

.home-top-btn-container {
	display: flex;
}

.home-top-btn-container a {
	margin: 0 1em;
	font-size: 1em;
	width: 13.5em;
}




@media only screen and (min-width: 800px) {

	/* HOME */

	.home-top {
		height: 48rem;
		font-size: 1em;
	}

	.home-top > div > div > img {
		width: 32.5rem; 
		height: 10rem;
	}

	.home-top-btn-container a {
		margin: 0 1em;
		font-size: 1.5em;
		width: 15em;
	}
}