{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Daftar Pasien | SIDOPLAK</title>
<link rel="stylesheet" href="{% static 'daftarPasien/css/style.css' %}">
<script type="application/javascript" src="{% static 'daftarPasien/js/toggle.js' %}"></script>
{% endblock meta %}

{% block content %}
<div class="content-patient">
	<div class="content-list-patient">
		<h1>Daftar Pasien</h1>
		<button onclick="toggle()" class="button">Filter</button>
		<div id="filteringDiv" style="display: none">
			<form method="POST" class="form form-filter-container" id="form" action="{% url 'daftarPasien:filter' %}">
				{% csrf_token %}
				<div class="form-filter-field" style="margin-top: 1em;">
					<label>Filter :</label>
					{{ form.fil_prov }}
					{{ form.fil_prov.errors }}
					{{ form.fil_goldar }}
					{{ form.fil_goldar.errors }}
					<button type="submit" class="button" id="button-submit" href="{% url 'daftarPasien:filter' %}">Terapkan</button>
				</div>
			</form>
		</div>
		<div class="list-container">
			<div class="list-bar" id="list-bar-header">
				<p>Nama Lengkap</p>
				<p>Provinsi</p>
				<p class="justify-self-center">Gol. Darah</p>
				<p class="justify-self-center">Jenis Kel.</p>
				<p class="justify-self-center">Detail</p>
			</div>
			{% for patient in listPasien %}
				<div class="list-bar list-patient-bar">
					<p>{{ patient.full_name }}</p>
					<p>{{ patient.address_province }}</p>
					<p class="justify-self-center">{{ patient.get_full_blood_type}}</p>
					{% if patient.gender == 'LAKI-LAKI' %}
						<p class="justify-self-center">
							<svg width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<use href="#outline-male" width="30" height="30"/>
							</svg>
						</p>
					{% elif patient.gender == 'PEREMPUAN' %}
						<p class="justify-self-center">
							<svg width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<use href="#outline-female" width="30" height="30"/>
							</svg>
						</p>
					{% endif %}
					<a href="{% url 'daftarPasien:detailPasienMinimum' %}?wid={{ patient.user.email }}" class="donor-button button">Detail</a>
				</div>
			{% endfor %}
		</div>
	</div>

	<svg style="display: none;" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path id="outline-male" d="M12 11C9.23858 11 7 13.2386 7 16C7 18.7614 9.23858 21 12 21C14.7614 21 17 18.7614 17 16C17 13.2386 14.7614 11 12 11ZM12 11V3M12 3L16 7M12 3L8 7" stroke="#001A72" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
	</svg>
	<svg style="display: none;" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path id="outline-female" d="M12 13C14.7614 13 17 10.7614 17 8C17 5.23858 14.7614 3 12 3C9.23858 3 7 5.23858 7 8C7 10.7614 9.23858 13 12 13ZM12 13L12 21M9 18L15 18" stroke="#d4639b" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
	</svg>
</div>
{% endblock content %}