{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>DetailPasien</title>
<link rel="stylesheet" href="{% static 'profildiri/css/style.css' %}">
<link rel="stylesheet" href="{% static 'daftarPasien/css/style.css' %}">
{% endblock meta %}

{% block content %}
<div  class ="home-top" style="background-image: url('{% static "main/img/home-bg.jpg"%}');overflow: hidden;">
<div class="content" style="width: 50%;" >
    <div >
        <h1><center>Profil</center></h1>
        <br><br><br>
        <table class="center">
            <tr>
                <td>Nama:</td>
                <td>{{dataUser.full_name}}</td>
            </tr>


            <tr>
                <td>Jenis Kelamin:</td>
                <td>{{dataUser.gender}}</td>
            </tr>

            <tr>
                <td>Provinsi:</td>
                <td>{{dataUser.address_province}}</td>
            </tr>

            <tr>
                <td>Golongan darah:</td>
                <td>{{dataUser.get_full_blood_type}}</td>
            </tr>

            <tr>
                <td>Berat Badan:</td>
                <td>{{dataUser.medical_height}}</td>
            </tr>

            <tr>
                <td>Tinggi Badan:</td>
                <td>{{dataUser.medical_weight}}</td>
            </tr>
        </table>
    </div>
    <br><br>
    <div style="display:flex;justify-content:space-around">
    <a href="{% url 'daftarPasien:daftarPasien' %}" class="donor-button button" style="width:25%;">Kembali</a>
        {% if is_Pendonor == 1%}
        <a href="{% url 'daftar:daftarPendonor' %}?wid={{ wid }}" class="donor-button button" style="width:25%;background: #00FF00;">Donor</a>
        {% endif %}
    </div>
</div>
</div>
{% endblock content %}